form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 45%;
  padding-top: 25px;

}

form > label {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

form > label > span {
  width: 25%;
  align-self: center;
}
form > label > * {
  margin-left: 2px;
  display: inline-flex;
  width: 400px;
}

.buttons {
  display: inline-flex;
  justify-content:space-between;
  margin-top: 30px;
}
.buttons input {
  flex-basis: 47%;

}
