/* for development */
@import 'colors.scss';

@media screen {
  html {
    background: grey;
    margin: 20px auto;
  }

  body {
    background-color: #ffffff;
  }
}

@media all {
  body {
    height: 976px;
    width: 745;
    padding: 40px 40px 30px;
  }

  html {
    height: 1056px;
    width: 816px;
    font-size: 12pt;
    font-family: 'proxima-nova', 'proxima nova', sans-serif;
  }
}

