<!DOCTYPE html>
<html>
  <head>
    <style>
      main {
        display:block;
        margin: 0 auto;
      }

      button {
        display: block;
        margin: 0 auto;
        width: 20%;
      }

      form {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <main>
      <form action="/generate_pdf" method="post">
        <input type="text" name="url" placeholder='enter url'/>
        <textarea rows=30 cols=60 name="json-data" type="text" placeholder='Provide JSON formatted data'>{"test": true}</textarea>
        <button type="submit">Generate PDF</button>
      </form>
    </main>
  </body>
</html>
