<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    <h1>{{ title }}</h1>
    {{# d3 }}
      <div class="dataviz"></div>
    {{/ d3 }}
    {{# patient }}
    <ul id="patient-info">
      <li>name: {{name}}</li>
      <li>height: {{height}}</li>
      <li>weight: {{weight}}</li>
      <li>age: {{age}}</li>
    </ul>
    {{/ patient }}
  </body>
  <footer> this is a test pdf </footer>
</html>
