<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="index.css"/>
  </head>
  <header>
    <h3>Weekly Progress Report</h3>
    {{# teamMembers}}
    <ul>
      {{# name}}
        <li>{{name}} --  {{position}}</li>
      {{/ name}}
    </ul>
    {{/ teamMembers}}
  </header>
  <body>
    <h3> What we did? </h3>
    <h3> What issues came up? </h3>
  </body>
  <footer>Nexient LLC</footer>
</html>
