#loading {
  align-self: center;
  align-items: center;
  display: flex;
  position: absolute;
  height: 50px;
  width: 150px;
  justify-content:center;
  background: #e1e1e1;
  border: 1px solid grey;
}
